extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
        .col-md-6.col-xs-6.col-sm-6
    footer.footer
      .container
        p.text-muted Place sticky footer content here.
