extend layout

block content
    .banner
      #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
        .carousel-inner(role='listbox')
          .item.active
            img(src='/assets/banner1.jpg', alt='Chania')
          .item
            img(src='/assets/banner2.jpg', alt='Chania')
    .row
      .col-sm-4
        .panel.panel-danger
          .panel-heading
            h3.panel-title Teamwork Projects 
          .panel-body
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/PauliusJakimavicius.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Paulius
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/jamesdraper.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading James
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/danielmackey.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Daniel
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus                  
    
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/petercoppinger.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Peter
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus   
                                              
        .panel.panel-warning
          .panel-heading
            h3.panel-title Support
          .panel-body
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/VictorBarry.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Victor
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/NiallChandler.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Niall
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/adrian.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Adrian
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus                  
    
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/patmurphy.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Pat
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus   
            
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/richard.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Richard
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus   
                
                
        .panel.panel-warning
          .panel-heading
            h3.panel-title Mobile
          .panel-body
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/mikebutler.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Mike
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/cillianokeeffe.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Cillian
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/aidan1.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Aidan
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus                  
      .col-sm-4
        .panel.panel-info
          .panel-heading
            h3.panel-title Teamwork Chat
          .panel-body
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/1443432061571_adam.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Adam
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/donallinehan.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Donal
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/JagoGibbons.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Jago
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus      
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/emmet.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Emmet
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus      
              
        .panel.panel-warning
          .panel-heading
            h3.panel-title Marketing
          .panel-body
          
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/DonalCahalane.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Donal (DC)
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/1441200092234_robertGabriel.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Robert
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/leanneking.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Leanne
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/therese1.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Therese
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus      
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/evin2.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Evin
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus      
      .col-sm-4
        .panel.panel-warning
          .panel-heading
            h3.panel-title Teamwork Desk
          .panel-body
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/jordan.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Jordan
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/peterkelly.png', alt='icon')
                .row-content
                  h4.list-group-item-heading Peter
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/YannickChartois.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Yannick
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/BrandonHansen.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Bandon
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus      
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/RobertOLeary.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Robert
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus      
        .panel.panel-warning
          .panel-heading
            h3.panel-title Design
          .panel-body
          .panel-body
            .list-group
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/1443432160909_ivo.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Ivo
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
              .list-group-item
                .row-picture
                  img.circle(src='http://preview.teamwork.com/contentFiles/teammembers/xmas/peterstoyanov.jpg', alt='icon')
                .row-content
                  h4.list-group-item-heading Peter
                  p.list-group-item-text Donec id elit non mi porta gravida at eget metus
              .list-group-separator
            