extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          h1 Contact Us
          hr
          form.form-horizontal.well.bs-component
            .form-group
              .col-md-10
                input#name.form-control(type='text', placeholder='name')
            .form-group
              .col-md-10
                input#inputEmail.form-control(type='email', placeholder='Email')
            .form-group
              .col-md-10
                textarea#textArea.form-control(rows='3')
            .form-group
              .col-md-10.col-md-offset-2   
                button.btn.btn-default(type='button') Cancel
                button.btn.btn-primary(type='submit') Submit
        .col-md-3.col-xs-3.col-sm-3

