extend layout

block content

    .banner
      #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
        .carousel-inner(role='listbox')
          .item.active
            img(src='http://images.huffingtonpost.com/2015-01-20-IdeasMakeorBreakYourBusiness.jpg', alt='Chania')
          .item
            img(src='http://christopherlewer.com/wp-content/uploads/2015/06/Idea_3.jpg', alt='Chania')
    .row
      .span4(style='margin-right:20px;')
        img.img-thumbnail(style='float:left;margin-left:20px;margin-right:20px;', alt='Cinque Terre', height='150', src='https://www.teamwork.com/images/jobs/jobs-learning.jpg', title='', width='190')
        form.form-horizontal
          fieldset
            legend This gets sent to your your project lead.
            .form-group
              label.col-md-2.control-label(for='inputEmail') Name
              .col-md-10
                input#inputEmail.form-control(type='text', placeholder='Full Name')
            .form-group
              label.col-md-2.control-label(for='inputEmail') Title
              .col-md-10
                input#inputEmail.form-control(type='text', placeholder='Title')
            .form-group
              label.col-md-2.control-label(for='inputEmail') Description
              .col-md-10
                input#inputEmail.form-control(type='text', placeholder='What is it ? and what does it do ?')
            .form-group
              label.col-md-2.control-label(for='inputFile') File
              .col-md-10
                input.form-control(type='text', readonly='', placeholder='Browse...')
                input#inputFile(type='file', multiple='')
            .form-group
              .col-md-10.col-md-offset-2
                button.btn.btn-default(type='button') Cancel
                button.btn.btn-primary(type='submit') Submit
