extend layout

block content
    .container-fluid.main(style='height: 100%;')
      div(style='margin-bottom:100px')
      .row
        .col-md-3.col-xs-3.col-sm-3
        .col-md-6.col-xs-6.col-sm-6
          each thing in data.GameClips
            .panel.panel-primary
              .panel-heading
                h3.panel-title #{thing.TitleName} #{thing.UploadTime}
              .panel-body
                video.img-responsive(src='#{thing.ClipUri}', class='img-responsive', preload='none', width='500', poster='#{thing.Preview}', height='500', controls='controls')
        .col-md-6.col-xs-6.col-sm-6
