extend layout

block content
    .page-container
      .container
        .row.row-offcanvas.row-offcanvas-left
          // sidebar
          #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
            ul.nav
              li.active
                a(href='#welcome') Welcome
              li
                a(href='#go') Go
              li
                a(href='#knockout') Knockout
              li
                a(href='#coffeescript') Coffeescript
              li
                a(href='#node') Node.js
              li
                a(href='#github') Github
              li
                a(href='#software') Software
              li
                a(href='https://github.com/Teamwork/chat-client/blob/master/docs/code-style.md') Coding Style
              li
                a(href='#ou') Other
          // main area
          .col-xs-12.col-sm-9
            #welcome.space
            h1 Welcome to Teamwork
            p| Based in Cork, Ireland, TeamworkPM is an online project management software application that helps teams work together more productively online. Designed to help users manage their day to day projects either in a company or personal setting. TeamworkPM was set up to make managing your projects easy. The Web-based collaboration allows you to neatly manages milestones, time and tasks. Teams and clients can then all interact online in the one space.
            h3 DID YOU KNOW?
            ul
              li Development on Teamwork.com started back in 2007.
              li
                | Teamwork.com has a developer API which allows 3rd party developers to build applications and hooks around Teamwork.com. See our developer page for more info.
              li Teamwork.com has a free iPhone app available for download in the App store.
              li
                | Teamwork Projects is a product of Digital Crew Ltd, which is based in Cork, Ireland.
              li
                | Every day around the world, tens of thousands of users login and use Teamwork.com to manage their projects.
            br
            h3 Our Products
            br
            h3 TeamworkChat
            p
              | Projects and business happen these days in real time.Getting stuff done depends entirely on how teams
              | communicate, collaborate and co-ordinate their activity.
            p
              | Introducing TeamworkChat, a real time messaging service designed to keep your team members in constant contact and updated about what’s going on in your business, letting them make smart, quick, decisive decisions.
              a(href='https://www.teamwork.com/chat') Learn more
            br
            h3 TeamworkDesk
            p
              | Filler
              a(href='https://www.teamwork.com/desk') Learn more
            br
            h3 TeamworkPM
            p
              | Teamwork.com was created because we needed a better way to run our own business and existing software was either too basic or too confusing. Teamwork.com is practical software that gets you organised so that you can reduce unnecessary meetings and simply Get Things Done. By using Teamwork.com, your team will be organised, your clients will be impressed and your business will take off.              
              a(href='https://www.teamwork.com/features') Learn more
            br
            h3 Tutorial on TeamworkPM
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/F4jCFMo8k5w')
            #go.space
            h1 Go Progamming
            br
            h3 What is it ? 
            p
              | Go, also commonly referred to as golang, is a programming language initially developed at Google in 2007 by Robert Griesemer, Rob Pike, and Ken Thompson.
            h3 How do I install it ?
            ul
              li Download the installer
              li
                a(href='https://golang.org/dl/', title='go progamming') Here 
                |  and follow the guide
            h3 Tutorial on GO
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/CF9S4QZuV30')
            #knockout.space
            h1 Knockout.js
            br
            h3 What is it 
            p
              | Knockout is a JavaScript library that helps you to create rich, responsive display and editor user interfaces with a clean underlying data model. Any time you have sections of UI that update dynamically (e.g., changing depending on the user’sactions or when an external data source changes), KO can help you implement it more simply and maintainably.
            h3 Tutorial on Knockout.js
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/LkkrcgGUcg8')
            #coffeescript.space
            h1 Coffeescript
            br
            h3 What is it ?
            p
              | CoffeeScript is a little language that compiles into JavaScript. Underneath all of those embarrassing braces and semicolons, JavaScript has always had a gorgeous object model at its heart. CoffeeScript is an attempt to expose the good parts of JavaScript in a simple way.
            h3 Tutorial on Coffeescript
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/fvsKkwbhfs8')
            #node.space
            h1 Node.js
            br
            h3 What is it ?
            p
              | Node.js® is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
            h3 Tutorial on Node.js
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/ndKRjmA6WNA')
            #github.space
            h1 Github
            br
            h3 What is Github?
            p
              | GitHub is a web-based Git repository hosting service, which offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own f/                    features.
            h3 How do we work?
            ul
              li For interns you only have write access
              li This means you will need to create a branch off the main branch
              li Then create a pull request and someone will review it
            h3 How do I make a fork and what is it  ?
            p
              | A fork is a copy of a repository. Forking a repository allows you to freely experiment with changes without affecting the original project. Most commonly, forks are used to either propose changes to someone else's project or to use someone else's project as a starting point for your own idea.
            ol
              li On GitHub, navigate to the Teamwork/repo repository.
              li In the top-right corner of the page, click Fork.
              li Thats it , experiment away
            h3 How do I create a branch and what is it
            p
              | Within a repository you have branches, which are effectively forks within your own repository. Your branches will have an ancestor commit in your repository, and will diverge from that commit with your changes. You can later merge your branch changes. Branches let you work on multiple disparate features at once.
            ol
              li
                span.label.label-primary git checkout -b [name_of_your_new_branch
              li
                span.label.label-primary git push origin [name_of_your_new_branch]
              li
                | Thats it , to see all branchs use 
                span.label.label-primary  git branch
            h3 How do I make a pull request
            p
              | Pull requests let you tell others about changes you've pushed to a repository on GitHub. Once a pull request is sent, interested parties can review the set of changes, discuss potential modifications, and even push follow-up commits if necessary.
            p
              b
                | Pull requests can only be opened if there are differences between your branch and the upstream branch.
            ol
              li On GitHub, navigate to the repository from which you'd like to propose changes.
              li In the "Branch" menu, choose the branch that contains your commits.
            h3 How do I update a fork ?
            ol
              li
                | Open Terminal (for Mac users) or the command prompt (for Windows and Linux users)
              li Change the current working directory to your local project. c:\dev\chat-client
              li
                | Fetch the branches and their respective commits from the upstream repository. Commits to master will be stored in a local branch, upstream/master.
              li
                span.label.label-primary git checkout master
              li
                span.label.label-primary git fetch upstream
              li Switch to the branch you want to update
              li
                span.label.label-primary git merge upstream/master 
                |  Note : Upsteam is the orginal
              li All Finished 
            h3 How do I Squash commints
            ol
              li Switch to the branch with the commints you want to squash
              li
                span.label.label-primary git checkout example_branch
              li ensure our branch is up to date
              li
                span.label.label-primary git pull remoteRepoName example_branch
              li With the master branch up to date, we'll use git rebase to consolidate:
              l
                span.label.label-primary git rebase -i example_branch
              li
                p
                  | Edit the summary shown to you by the rebase command, leaving the commit you want to be the main commit as "pick" and changing all subsequent "pick" commands as "squash":
              li
                span.label.label-primary git push -f
            h3 Tutorial on Github
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.youtube.com/embed/0fKg7e37bQE')
            #software.space
            h1 Software
            ul
              li
                a(href='http://www.sublimetext.com/', title='Sublime 2') Sublime2 : Text Edit
              li
                a(href='https://windows.github.com/', title='Github for Windows') Github for Windows
              li
                a(href='https://mac.github.com/', title='Github for MAC') Github for Mac
              li
                a(href='https://www.teamwork.com/chat', title='Github for MAC') TeamworkChat
            #ou.space
            h1 Other useful tips
            h3 Gulp
            p
              | Gulp is a fast and intuitive streaming build tool built on Node.js. Check out their website and docs to get started. If you're familiar with Grunt, it's similar, but has some advantages. Here's some of the sweet stuff you try out with this repo.
            ul
              li Compile CoffeeScript (with source maps!)
              li Compile Handlebars Templates
              li Compile SASS with Compass
              li LiveReload require non-CommonJS code, with dependencies
              li Set up module aliases
              li Run a static Node server (with logging)
              li Pop open your app in a Browser
              li Report Errors through Notification Center
              li Image processing
            h3 Package Manager
            p
              | Package Control is the Sublime Text package manager. It includes a list of over 2,500 packages available for install, and users can add any GitHub or BitBucket repository themselves. Once installed, packages are kept up-to-date automatically.
              a(href='https://packagecontrol.io/installation') Learn more 
            h1 We meet for Coffee
            p
              | We meet for coffee at costa coffee in Blackpool retail park every morning.
              br
              |  At About 8am
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1230.4850368340922!2d-8.472352591959925!3d51.916257101419426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x533d78835b888759!2sCosta+Coffee!5e0!3m2!1sen!2sie!4v1426814521977')
            .space
            .space
          // /.col-xs-12 main
        // /.row
      // /.container
    // /.page-container
    // script references