extend layout

block content
	.container
		.row
			.col-sm-4.swag
				img(src="assets/logo.png")
				p
					| Rugby
			.col-sm-4.swag
				img(src="assets/logo.png")
				div 
					| soccor
			.col-sm-4.swag
				img(src="assets/logo.png")
				p
					| Bubble Soccor 
		.row
			.col-sm-4.swag
				img(src="assets/logo.png")
				p
					| Rugby
			.col-sm-4.swag
				img(src="assets/logo.png")
				div 
					| soccor
			.col-sm-4.swag
				img(src="assets/logo.png")
				p
					| Bubble Soccor 
		.row
			.col-sm-4.swag
				img(src="assets/logo.png")
				p
					| Rugby
			.col-sm-4.swag
				img(src="assets/logo.png")
				div 
					| soccor
			.col-sm-4.swag
				img(src="assets/logo.png")
				p
					| Bubble Soccor 