extend layout

block content
	.container
		.row
			.col-sm-4.swag
				img(src="assets/swag2.png")
				p
					| Yo you need your hoodie! It gets snow this Xmas fo shu
			.col-sm-4.swag
<<<<<<< HEAD
				img(src="assets/swag3.png")
=======
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153445.1448576132362_image.png")
>>>>>>> origin/master
				div 
					| I hope you're taking this down! No? Better take this stationary
			.col-sm-4.swag
<<<<<<< HEAD
				img(src="assets/swag4.jpg")
=======
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153446.1448576170766_image.png")
>>>>>>> origin/master
				p
					| Socks? Nope not yet but someday maybe!
		.row
			.col-sm-12.fullswag
				img(src="assets/swag.png")
				p
<<<<<<< HEAD
					| Here it is! Be impressed by the pile!
=======
					| I hope you're taking this down! No? Better take this stationary
			.col-sm-4.swag
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153469.1448576637923_image.png")
			.col-sm-4.swag
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153469.1448576637923_image.png")

		.row
			.col-sm-4.swag
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153469.1448576637923_image.png")
			.col-sm-4.swag
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153469.1448576637923_image.png")
			.col-sm-4.swag
				img(src="https://s3.amazonaws.com/TWFiles/1/p50641.2153445.1448576132362_image.png?AWSAccessKeyId=AKIAJC7QSMZDSELEZRIQ&Expires=1448621038&Signature=yI1CJjPvEm5ojn34kgnqNXkBbBk%3D&response-content-disposition=inline%3B%20filename%3D%22%3D%3FUTF-8%3FB%3FaW1hZ2UucG5n%3F%3D%22")
>>>>>>> origin/master
