doctype html
html
  head
    title #{title} - Intranet YAY!
    link(rel='stylesheet', href='/css/bootstrap-material-design.css')
    link(rel='stylesheet', href='/css/ripples.css')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  body
    h1 Jade - node template engine
    #container.col
        block content
        h1= title
        form(name="add-estimation", method="post", action="/test", id="login")
          div.input
              span.label Login (EMAIL
              input(type="email", id="username",name="username")
          div.input
              span.label Password
              input(name="password", type="password" ,id="password",value="TestIsTest")
          div.actions
              input(type="submit", value="add")


  script(src="/scripts/jquery.min.js")
  script(src="/scripts/knockout-latest.js")
  script(src="/js/material.js")
  script(src="/js/ripples.js")
  script(src="/js/start.js")
  script(src="/js/main.js")